
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.keralatourism.org/images/KeralaTourism-share-image.jpg"class="d-block w-100" alt="..."width="1500px"height="800px">
            </div>
              </div>
              <div class="carousel-item">
                <img src="https://t3.ftcdn.net/jpg/03/06/46/30/240_F_306463014_I9SvyZ8ScpkVLFCahgb0oZOfRBCuXXMf.jpg" class="d-block w-100" alt="..."width="1500px"height="800px">
              </div>
              </div>
              
         
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <h1>Kerala</h1>
            <p>Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline.
                 It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife.
                  National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers
                 
                  Kerala is a unique state containing its own features. The most notable specialties found in the state of Kerala are:
                  
                  The beautiful geography comprises rainforests, hills, valleys, waterfalls, and beaches such as Kovalam, Varkala, and Kappad, which are the most visited tourist places in Kerala.
                  The Houseboats floating on the waters of Kerala are as comfortable as a hotel room.
                  Artforms of Kerala include dance forms ‘Kathakali’ and ‘Theyyam’ and martial art ‘Kalaripayattu.’
                  The Architecture of Kerala is certainly different from the rest of the country, which attracts tourists to Kerala.
                  The festivals like Onam and Thrissur Pooram are celebrated in Kerala with enthusiasm.
                  Ayurvedic treatments done in Kerala are one the ancient practices. People from foreign countries not only visit for tours in Kerala but also for the miraculous treatments.
                  There is a wide variety of spices found in Kerala.</p>
                